<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pz.xingfutao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="com.pz.xingfutao.XFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pz.xingfutao.ui.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- tab activities -->
        <activity
            android:name="com.pz.xingfutao.ui.tab.TabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />        
        <activity
            android:name="com.pz.xingfutao.ui.tab.TabStoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pz.xingfutao.ui.tab.TabCategoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pz.xingfutao.ui.tab.TabCartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pz.xingfutao.ui.tab.TabForumActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pz.xingfutao.ui.tab.TabProfileActivity" 
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        
        
        <!-- sub activities -->
        <activity
            android:name="com.pz.xingfutao.ui.sub.SearchActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.pz.xingfutao.ui.sub.SettingsActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.pz.xingfutao.ui.sub.ItemDetailActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.pz.xingfutao.ui.sub.LoginActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.pz.xingfutao.ui.sub.SignUpActivity"
            android:screenOrientation="portrait" />
        
    </application>

</manifest>
